:root {
    --color-naranja: #ff4d30;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}

.nav-item {    
    color: white !important;
    font-weight: 500;
    text-transform: capitalize !important;
    border-radius: 12px;
    padding: 6px 16px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: var(--color-naranja) !important;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color-naranja);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.active {
    color: black ;
    background: linear-gradient(to bottom, white, #ff9800, #e65100);
    background-size: 100% 300%;
    background-position: bottom;
    box-shadow: 0 4px 10px rgba(255, 152, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease, background-position 0.6s ease-in-out;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0)
    );
    animation: shine 0.8s ease-in-out forwards;
}

@keyframes shine {
    from {
        top: -100%;
    }
    to {
        top: 100%;
    }
}
